:root {
  --accent-color: #ececec;
  --text-color: #000;
  --section-color: #2f303a;
  --button-color: #2196f3;
  --section2-color: #f5f4fa;
  --added-color: #757575;
  --addedtext-color: #212121;
  --white-color: #fff;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --border-color: #eee;
  --bgcolor-hero: rgba(47, 48, 58, 1);
  --card-color: #afb1b8;
  --join-color: rgba(255, 255, 255, 0.1);
  --position-color: rgba(47, 48, 58, 0.8);
  --modal-backdrop: rgba(0, 0, 0, 0.2);
  --modal-close: rgba(0, 0, 0, 0.1);
}
/* Main */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid blue; */
}
body {
  font-family: Roboto;
}
img {
  display: block;
}

/* Header */
.header-list {
  display: flex;
  gap: 50px;
}
.navigation {
  margin-left: 93px;
  margin-right: auto;
}
.header-items {
  display: flex;
  gap: 30px;
  justify-content: end;
}
.header-link {
  color: var(--button-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  display: flex;
}
.header-links::after{
  content: "";
  display: block;
  width: 100%;
height: 4px;
background-color: var(--button-color);
border-radius: 2px;
position: absolute;
left: 0;
bottom: -34px;
opacity: 0;
}
.header-links:hover::after{
  opacity: 1;
}
.header-li{
  position: relative;
}
.header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.span {
  color: var(--text-color);
}
.header-links {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-links:hover {
  color: var(--button-color);
}
.header-iconone {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--added-color);
}
.header-icontwo {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--added-color);
}
.header-item {
  color: var(--added-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-item:hover {
  color: var(--button-color);
  .header-iconone {
    fill: var(--button-color);
  }
  .header-icontwo {
    fill: var(--button-color);
  }
}
/* Hero */
.hero {
  background: var(--bgcolor-hero);
  content: "";
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg.webp);
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}
.hero-title {
  color: var(--white-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero-button {
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  position: relative;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--button-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 32px 10px 32px;
  border: none;
}
.hero-button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* Advantages */
.advantages-list {
  display: flex;
  gap: 30px;
}
.advantages-item:nth-child(1)::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--section2-color);
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/antenna.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}
.advantages-item:nth-child(2)::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--section2-color);
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/clock.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}
.advantages-item:nth-child(3)::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--section2-color);
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/diagram.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}
.advantages-item:nth-child(4)::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--section2-color);
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/astronaut.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}
.advantages-title {
  color: var(--addedtext-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages-text {
  color: var(--added-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
/* About */
.about-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.about-title {
  color: var(--addedtext-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.about-text {
  color: var(--white-color);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 27px;
  padding-top: 27px;
  width: 100%;
  background-color: var(--position-color);
}
.position-box {
  position: relative;
}
/* Team */
.team-list {
  display: flex;
  gap: 30px;
}
.card-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--card-color);
}
.icon-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.icon-link:hover {
  background-color: var(--button-color);
  .card-icon {
    fill: var(--white-color);
  }
}
.card-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 28px;
  list-style: none;
}
.team-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.team-title {
  color: var(--addedtext-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team-subtitle {
  color: var(--addedtext-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  display: flex;
  justify-content: center;
}
.team-text {
  color: var(--added-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-top: 10px;
}
.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* Clients */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  color: var(--addedtext-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--card-color);
}
.clients-item:hover {
  border: 1px solid var(--button-color);
  .clients-icon {
    fill: var(--button-color);
  }
}
.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.clients-item {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--card-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Footer */
.footer {
  background-color: var(--section-color);
}
.join-title {
  color: var(--white-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.join-list {
  display: flex;
  gap: 10px;
  align-items: center;
}
.join-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}
.join-link {
  width: 44px;
  height: 44px;
  background-color: var(--join-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-link:hover {
  background-color: var(--button-color);
}
.footer-logo {
  color: var(--button-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-join {
  margin-left: 70px;
}
.footer-title {
  color: var(--white-color);
}
.footer-link {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
  font-style: normal;
}
.footer-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 9px;
}
.list-item {
  color: var(--footer-contacts);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer-sub {
  margin-left: 112px;
}
.footer-gallay {
  margin-left: 142px;
}
.footer-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
}
.join-button {
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border: none;
  width: 200px;
  height: 50px;
  position: relative;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
  padding-top: 10px;
  padding-left: 28px;
  padding-bottom: 10px;
  padding-right: 62px;
}
.footer-box {
  position: relative;
}
.button-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 5%;
  top: 25%;
  fill: var(--white-color);
}
.footer-label {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
}
/* Gallay */
.gallay-title {
  color: var(--addedtext-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
}
.btn {
  color: var(--addedtext-color);
  background-color: var(--section2-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  width: 125px;
  height: 38px;
  flex-shrink: 0;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
}
.btn:hover {
  color: var(--white-color);
  background-color: var(--button-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.button-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.gallay-item {
  border: 1px solid var(--border-color);
  background-color: var(--white-color);
  flex-basis: calc((100% - 60px) / 3);
}
.gallay-item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    .gallay-hover{
      opacity: 1;
    }
}
.gallay-text {
  color: var(--added-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
}
.gallay-card {
  padding: 20px 24px;
}
.gallay-img {
  width: 100%;
}
.gallay-hover{
  color: var(--white-color);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: 0.54px;
position: absolute;
top: 0;
right: 0;
padding: 63px 24px;
background-color:rgba(33, 150, 243, 0.90);
opacity: 0;
}
.hover-box{
  position: relative;
  overflow: hidden;
}
.gallay-container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid lightgreen; */
}
.gallay-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}
/* Paddings */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about {
  padding-bottom: 94px;
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--section2-color);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.gallay {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* MODAL */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-backdrop);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 528px;
  height: auto;
  border-radius: 4px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 40px;
}
.modal-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--modal-close);
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-close:hover,
.modal-close:focus {
  .cross {
    fill: var(--button-color);
  }
}
.cross {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-title {
  color: var(--addedtext-color);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 8px;
}
.modal-label {
  color: var(--added-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  padding-right: 30px;
}
.modal-input:hover,
.modal-input:focus {
  border: none;
  outline: 1px solid var(--button-color);
}
.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--button-color);
}
.modal-coment {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 20px;
}
.modal-check {
  width: 16px;
  height: 15px;
  cursor: pointer;
}
.modal-text {
  color: var(--added-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-left: 9px;
  margin-right: 4px;
}
.modal-link {
  color: var(--button-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.modal-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 52px;
  padding-left: 52px;
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--button-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-top: 30px;
  cursor: pointer;
}
.modal-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-icon {
  width: 18px;
  height: 18px;
  fill: var(--addedtext-color);
  position: absolute;
  top: 32px;
  left: 12px;
}
