.header {
    padding-top: 24px;
    padding-bottom: 25px;
    // АМПЕРСАНТИ //
  &__container {
    // display: flex;
    // align-items: center;
    // flex-direction: row;
  @include flexbox($wrap:nowrap);
  }
  &__link {
    color: $button-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    display: flex;
  }
 &__span {
    color: $text-color;
  }
    &__navigation {
    margin-left: 93px;
    margin-right: auto;
  }
  &__list {
    display: flex;
    gap: 50px;
  }
    &__li {
    position: relative;
  }
    &__links {
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition-property: color;
    @extend %transition;
      &:hover {
    color: $button-color;
  }
    &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $button-color;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -34px;
    opacity: 0;
    transition-property: opacity;
    @extend %transition;
  }
  }
    &__links:hover::after {
    opacity: 1;
  }
    &__items {
    display: flex;
    gap: 30px;
    justify-content: end;
  }
  &__item {
    color: $added-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    display: flex;
    @include flexbox($wrap:nowrap);
    transition-property: color;
@extend %transition;
      &:hover {
    color: $button-color;
    .header__iconone {
      fill: $button-color;
    }
    .header__icontwo {
      fill: $button-color;
    }
  }
  }
    &__iconone {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: $added-color;
    transition-property: fill;
    @extend %transition;
  }
    &__icontwo {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: $added-color;
    transition-property: fill;
@extend %transition;
  }
  }










