.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modal-backdrop;
  @include flexbox($wrap:nowrap);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: scale(0.8);
  opacity: 0;
}
.is-hidden {
      opacity: 0;
    pointer-events: none;
    visibility: hidden;
}


.modal {
    border-radius: 4px;
    background: $white-color;
    transform: scale(1);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 40px;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
      @media screen and (min-width: 480px) {
      width: 450px;
    }
    @media screen and (min-width: 1200px) {
      width: 528px;
    }

  &__close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $modal-close;
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 8px;
    @include flexbox($wrap:nowrap);
    &:hover,
    &:focus {
      .modal__cross {
        fill: $button-color;
      }
    }
  }
  &__cross {
    width: 18px;
    height: 18px;
    @include flexbox($wrap:nowrap);
    transition-property: fill;
    @extend %transition;
  }
  &__title {
    color: $addedtext-color;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
       @media screen and (min-width: 480px) {
    width: 370px;
    }
    @media screen and (min-width: 1200px) {
      width: 447px;
    }
  }
  &__label {
    color: $added-color;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    position: relative;
  }
  &__coment {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
    padding: 12px 16px;
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    margin-bottom: 20px;
    transition-property: color;
    @extend %transition;
    &:hover {
      outline: 1px solid;
      color: $button-color;
    }
  }
  &__input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    padding-right: 30px;
    transition-property: color;
    @extend %transition;
    &:hover,
    &:focus {
      border: none;
      outline: 1px solid;
      color: $button-color;
    }
    &:hover + .modal__icon,
    &:focus + .modal__icon {
      fill: $button-color;
    }
  }
  &__icon {
    width: 18px;
    height: 18px;
    fill: $addedtext-color;
    position: absolute;
    top: 32px;
    left: 12px;
    transition-property: fill;

  }
  &__wrap {
    @include flexbox($wrap:nowrap);
  }
  &__check {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    transition-property: background-color;
    @extend %transition;
    &:hover:checked,
    &:focus:checked {
      border-color: $button-color;
    }
    &:checked {
  background-color: $button-color;
  position: relative;
}
&:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


  }
  &__text {
    color: $added-color;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.36px;
    margin-left: 8px;
    margin-right: 4px;
        @media screen and (min-width: 1200px) {
      font-size: 14px;
      letter-spacing: 0.42px;
      margin-left: 9px;
    }
  }
  &__link {
    color: $button-color;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
     @media screen and (min-width: 480px) {
    font-size: 12px;
    letter-spacing: 0.36px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      letter-spacing: 0.42px;
    }
  }
  &__box {
    @include flexbox($wrap:nowrap);
  }
  &__button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 52px;
    padding-left: 52px;
    color: $white-color;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: $button-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    margin-top: 30px;
    cursor: pointer;
  }
}

