.card {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
     padding-top: 94px;
     padding-bottom: 94px;
  }

    &__list {
    display: flex;
  gap: 8px;
  justify-content: start;
  margin-bottom: 40px;
  flex-wrap: wrap;
  row-gap: 15px;
   @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

    @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
  }
    &__btn {
    color: $addedtext-color;
    background-color: $section2-color;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
    letter-spacing: 0.48px;
    width: 125px;
    height: 38px;
    flex-shrink: 0;
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    transition-property: color, background-color, box-shadow;
    @extend %transition;
      &:hover {
    color: $white-color;
    background-color: $button-color;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
      0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  }

  }
    &__listt {
      display: flex;
        flex-wrap:wrap;
        justify-content: center;
        margin-top: 36px;
        row-gap: 30px;
        
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: flex-start;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 50px;
    }
  }
    &__itemm {
    border: 1px solid $border-color;
    background-color: $white-color;
    width: 100%;
      @media screen and (min-width: 480px){
  flex-basis: 450px;
  }

    @media screen and (min-width: 768px){
  flex-basis: calc((100% - 30px) / 2);
  }

    @media screen and (min-width: 1200px){
  flex-basis: calc((100% - 60px) / 3);
  }
       &:hover {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
      0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    .card__desk {
      opacity: 1;
      transform: translateY(0);
    }
  }

}


    &__box {
    position: relative;
    overflow: hidden;
  }
  &__img {
    width: 100%;
    height: 294px;
  }
    &__desk {
    transform: translateY(100%);
    transition-property: transform, opacity;
    @extend %transition;
    color: $white-color;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.55; /* 155.556% */
    letter-spacing: 0.54px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 50px;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    z-index: 1;
    padding: 77px 24px;
            @media screen and (min-width: 768px) {
        padding: 49px 24px 77px 24px;
    }
  }
    &__wrap {
    padding: 20px 24px;
  }
  &__title {
    color: $addedtext-color;
    font-size: 18px;
    font-weight: 700;
    line-height: 2; /* 200% */
    letter-spacing: 1.08px;
  }
    &__text {
    color: $added-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.48px;
  }
  }


  






