.team {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: $section2-color;

  @media screen and (min-width: 1200px){
   padding-top: 94px;
  padding-bottom: 94px;
}

  &__title {
    color: $addedtext-color;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 0.84;
    letter-spacing: 1.08px;
    margin-bottom: 30px;
        @media screen and (min-width: 1200px){
      font-size: 36px;
        letter-spacing: 1.08px;
        margin-bottom: 50px;
    }
  }
  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  &__item {
    background-color: $white-color;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
             @media screen and (min-width: 480px){
    flex-basis: 450px;
       }
        @media screen and (min-width: 768px){
    flex-basis: calc((100% - 30px) / 2);
        }
         @media screen and (min-width: 1200px){
              flex-basis: calc((100% - 90px) / 4);
         }
  }
  &__card {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__subtitle {
    color: $addedtext-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    display: flex;
    justify-content: center;
  }
  &__text {
    color: $added-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-top: 10px;
  }
  &__listt {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 28px;
    list-style: none;
  }
  &__social {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    // align-items: center;
    // justify-content: center;
    @include flexbox($wrap:nowrap);
    transition-property: background-color;
    @extend %transition;

    &:hover {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: $button-color;
      // align-items: center;
      // justify-content: center;
      @include flexbox ($wrap:nowrap);
      .team__icon {
        fill: $white-color;
      }
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
    fill: $card-color;
    transition-property: fill;
    @extend %transition;

    &:hover {
      width: 20px;
      height: 20px;
      fill: $white-color;
    }
  }
}
