ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.modal__check, .modal__input, .modal__coment, .modal__cross, .card__desk, .card__btn, .footer__icon, .footer__social, .clients__icon, .clients__link, .team__icon, .team__social, .header__links::after, .header__links {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid aqua;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: Roboto;
}

.header {
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.header__link {
  color: #2196f3;
  font-family: Raleway;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.72px;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .header__link {
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
}
@keyframes logo-scale {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.1);
  }
}
.header__span {
  color: #000;
}
.header__btn {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}
.header__menu {
  width: 40px;
  height: 40px;
  fill: black;
}
.header__cell {
  color: #757575;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__cell {
    font-size: 14px;
    letter-spacing: 0.28px;
  }
}
.header__navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__navigation {
    display: block;
  }
}
.header__list {
  display: flex;
  gap: 50px;
}
.header__li {
  position: relative;
}
.header__links {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition-property: color;
}
.header__links:hover {
  color: #2196f3;
}
.header__links::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -34px;
  opacity: 0;
  transition-property: opacity;
}
.header__links:hover::after {
  opacity: 1;
}
.header__items {
  display: none;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__items {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header__items {
    gap: 30px;
    flex-direction: row;
  }
}
.header__itm:nth-child(2) .header__icon {
  width: 10px;
  height: 16px;
}
.header__item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__item:hover, .header__item:focus {
  color: #2196f3;
}
.header__item:hover .header__icon, .header__item:focus .header__icon {
  fill: #2196f3;
}
.header__item:hover .header__cell, .header__item:focus .header__cell {
  color: #2196f3;
}
.header__icon {
  width: 16px;
  height: 12px;
  fill: rgb(117, 117, 117);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.04), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
  padding: 48px 0 48px 40px;
}
.mobile__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}
.mobile__close:hover .mobile__svg, .mobile__close:focus .mobile__svg {
  fill: #2196f3;
}
.mobile__svg {
  width: 30px;
  height: 30px;
}
.mobile__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 100px;
}
.mobile__link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}
.mobile__link:hover {
  color: #2196f3;
}
.mobile__items {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}
.mobile__contact {
  color: #2196f3;
  font-size: 34px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;
}
.mobile__itm:last-child .mobile__contact {
  color: #757575;
  font-size: 24px;
  letter-spacing: 0.48px;
}
.mobile__elements {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.mobile__social {
  color: #2196f3;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.36px;
  display: flex;
  align-items: center;
}
.mobile__elem:not(:last-child) .mobile__social::after {
  content: "";
  width: 1px;
  height: 22px;
  background: rgba(33, 33, 33, 0.2);
  display: block;
  margin-left: 10px;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-mobile@1x.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/hero-mobile@2x.webp);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/tablet/hero-tablet@1x.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/hero-tablet@2x.webp);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-desktop@1x.webp);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/hero-desktop@2x.webp);
  }
}
.hero__container {
  width: auto;
}
.hero__img {
  width: 100%;
}
.hero__title {
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    letter-spacing: 2.64px;
    width: 696px;
  }
}
.hero__button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  position: relative;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 32px 10px 32px;
  border: none;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}
.hero__button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.advantages__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.advantages__item::before {
  content: "";
  margin-bottom: 30px;
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 480px) {
  .advantages__item::before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__item::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item::before {
    width: 270px;
  }
}
.advantages__item:first-child::before {
  background-image: url(../images/antenna.webp);
}
.advantages__item:nth-child(2)::before {
  background-image: url(../images/clock.webp);
}
.advantages__item:nth-child(3)::before {
  background-image: url(../images/diagram.webp);
}
.advantages__item:last-child::before {
  background-image: url(../images/astronaut.webp);
}
.advantages__title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: start;
  }
}
.advantages__text {
  color: #757575;
  font-size: 14px;
  width: 100%;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
@media screen and (min-width: 480px) {
  .advantages__text {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__text {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__text {
    width: 270px;
  }
}

.about {
  padding-bottom: 94px;
  text-align: center;
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}
.about__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.about__list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.about__text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 27px;
  padding-top: 27px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}
.about__box {
  position: relative;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  color: #212121;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 0.84;
  letter-spacing: 1.08px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.team__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.team__item {
  flex-basis: 100%;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .team__item {
    flex-basis: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__subtitle {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  display: flex;
  justify-content: center;
}
.team__text {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-top: 10px;
}
.team__listt {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 28px;
  list-style: none;
}
.team__social {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition-property: background-color;
}
.team__social:hover {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.team__social:hover .team__icon {
  fill: #fff;
}
.team__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
}
.team__icon:hover {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__title {
  color: #212121;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.84;
  letter-spacing: 1.08px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.clients__link {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  height: 92px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.clients__item:hover .clients__link {
  border-color: #2196f3;
}
.clients__item:hover .clients__icon {
  fill: #2196f3;
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer > .container {
    align-items: first baseline;
    flex-direction: row;
  }
}
.footer__wrapper {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__wrapper {
    text-align: start;
  }
}
.footer__logo {
  color: #fff;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    letter-spacing: 0.78px;
    font-size: 26px;
  }
}
.footer__color {
  color: #2196f3;
}
.footer__address {
  font-style: normal;
  margin-top: 20px;
}
.footer__box {
  text-align: center;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__box {
    margin-left: 165px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    margin-left: 70px;
    text-align: start;
  }
}
.footer__position {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 9px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 9px;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer__title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__items {
  display: flex;
  gap: 10px;
}
.footer__social {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
}
.footer__social:hover {
  background-color: #2196f3;
}
.footer__icon {
  width: 20px;
  height: 20px;
  fill: #fff;
  transition-property: fill;
}
.footer__block {
  margin-top: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__block {
    text-align: start;
    margin-left: auto;
    margin-top: 0;
  }
}
.footer__subscribe {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-block;
}
.footer__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    gap: 12px;
    flex-direction: row;
  }
}
.footer__input {
  color: rgba(255, 255, 255, 0.1);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 290px;
}
@media screen and (min-width: 480px) {
  .footer__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}
.footer__btn {
  color: #fff;
  background-color: #2196f3;
  padding: 10px 28px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__plane {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.card {
  padding-top: 94px;
  padding-bottom: 94px;
}
.card__list {
  display: flex;
  gap: 8px;
  justify-content: start;
  margin-bottom: 40px;
  flex-wrap: wrap;
  row-gap: 15px;
}
@media screen and (min-width: 768px) {
  .card__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .card__list {
    margin-bottom: 50px;
  }
}
.card__btn {
  color: #212121;
  background-color: #f5f4fa;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  width: 125px;
  height: 38px;
  flex-shrink: 0;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
}
.card__btn:hover {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.card__listt {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card__itemm {
  border: 1px solid #eee;
  background-color: #fff;
  flex-basis: 100%;
}
@media screen and (min-width: 480px) {
  .card__itemm {
    flex-basis: 450px;
  }
}
@media screen and (min-width: 768px) {
  .card__itemm {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card__itemm {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.card__itemm:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.card__itemm:hover .card__desk {
  opacity: 1;
  transform: translateY(0);
}
.card__box {
  position: relative;
  overflow: hidden;
}
.card__img {
  width: 100%;
}
.card__desk {
  transform: translateY(100%);
  transition-property: transform, opacity;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 67px 25px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  z-index: 1;
}
.card__wrap {
  padding: 20px 24px;
}
.card__title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
}
.card__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: scale(0.8);
  opacity: 0;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  border-radius: 4px;
  background: #fff;
  transform: scale(1);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 40px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.modal__close:hover .modal__cross, .modal__close:focus .modal__cross {
  fill: #2196f3;
}
.modal__cross {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition-property: fill;
}
.modal__title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
@media screen and (min-width: 480px) {
  .modal__title {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__title {
    width: 447px;
  }
}
.modal__label {
  color: #757575;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
}
.modal__coment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 20px;
  transition-property: color;
}
.modal__coment:hover {
  outline: 1px solid;
  color: #2196f3;
}
.modal__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  padding-right: 30px;
  transition-property: color;
}
.modal__input:hover, .modal__input:focus {
  border: none;
  outline: 1px solid;
  color: #2196f3;
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
  fill: #2196f3;
}
.modal__icon {
  width: 18px;
  height: 18px;
  fill: #212121;
  position: absolute;
  top: 32px;
  left: 12px;
  transition-property: fill;
}
.modal__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.modal__check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  transition-property: background-color;
}
.modal__check:hover:checked, .modal__check:focus:checked {
  border-color: #2196f3;
}
.modal__check:checked {
  background-color: #2196f3;
  position: relative;
}
.modal__check:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.modal__text {
  color: #757575;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.36px;
  margin-left: 8px;
  margin-right: 4px;
}
@media screen and (min-width: 1200px) {
  .modal__text {
    font-size: 14px;
    letter-spacing: 0.42px;
    margin-left: 9px;
  }
}
.modal__link {
  color: #2196f3;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
@media screen and (min-width: 480px) {
  .modal__link {
    font-size: 12px;
    letter-spacing: 0.36px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__link {
    font-size: 14px;
    letter-spacing: 0.42px;
  }
}
.modal__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.modal__button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 52px;
  padding-left: 52px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-top: 30px;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */