ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid blue; */
}

body {
  font-family: Roboto;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header__container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header__link {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  display: flex;
}
.header__span {
  color: #000;
}
.header__navigation {
  margin-left: 93px;
  margin-right: auto;
}
.header__list {
  display: flex;
  gap: 50px;
}
.header__li {
  position: relative;
}
.header__links {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__links:hover {
  color: #2196f3;
}
.header__links::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -34px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__links:hover::after {
  opacity: 1;
}
.header__items {
  display: flex;
  gap: 30px;
  justify-content: end;
}
.header__item {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item:hover {
  color: #2196f3;
}
.header__item:hover .header__iconone {
  fill: #2196f3;
}
.header__item:hover .header__icontwo {
  fill: #2196f3;
}
.header__iconone {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__icontwo {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background: rgb(47, 48, 58);
  content: "";
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.webp);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}
.hero__title {
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero__button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  position: relative;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 32px 10px 32px;
  border: none;
}
.hero__button:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages__list {
  display: flex;
  gap: 30px;
}
.advantages__item:nth-child(1)::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/antenna.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}
.advantages__item:nth-child(2)::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/clock.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}
.advantages__item:nth-child(3)::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/diagram.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}
.advantages__item:nth-child(4)::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../images/astronaut.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}
.advantages__title {
  color: addedtext-color;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages .advantages__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}

.about {
  padding-bottom: 94px;
}
.about__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.about__list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.about__text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 27px;
  padding-top: 27px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}
.about__box {
  position: relative;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  gap: 30px;
}
.team__item {
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.team__card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__subtitle {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  display: flex;
  justify-content: center;
}
.team__text {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-top: 10px;
}
.team__listt {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 28px;
  list-style: none;
}
.team__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover {
  background-color: #2196f3;
}
.team__link:hover .card-icon {
  fill: #fff;
}
.team__icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  color: var(--addedtext-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.clients-item {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--card-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--card-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover {
  border: 1px solid;
  color: var(--button-color);
}
.clients-item:hover .clients-icon {
  fill: var(--button-color);
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.footer {
  background-color: var(--section-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.join-title {
  color: var(--white-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join-list {
  display: flex;
  gap: 10px;
  align-items: center;
}

.join-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.join-link {
  width: 44px;
  height: 44px;
  background-color: var(--join-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover {
  background-color: var(--button-color);
}

.footer-logo {
  color: var(--button-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-join {
  margin-left: 70px;
}

.footer-title {
  color: var(--white-color);
}

.footer-link {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
  font-style: normal;
}

.footer-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 9px;
}

.list-item {
  color: var(--footer-contacts);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}

.footer-sub {
  margin-left: 112px;
}

.footer-gallay {
  margin-left: 142px;
}

.footer-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
}

.join-button {
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border: none;
  width: 200px;
  height: 50px;
  position: relative;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: 12px;
  padding-top: 10px;
  padding-left: 28px;
  padding-bottom: 10px;
  padding-right: 62px;
}

.footer-box {
  position: relative;
}

.button-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 5%;
  top: 25%;
  fill: var(--white-color);
}

.footer-label {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
}

.gallay {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gallay-title {
  color: var(--addedtext-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
}

.btn {
  color: var(--addedtext-color);
  background-color: var(--section2-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  width: 125px;
  height: 38px;
  flex-shrink: 0;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  color: var(--white-color);
  background-color: var(--button-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.button-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.gallay-item {
  border: 1px solid var(--border-color);
  background-color: var(--white-color);
  flex-basis: calc((100% - 60px) / 3);
}

.gallay-item:hover {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.gallay-item:hover .gallay-hover {
  opacity: 1;
  transform: translateY(0);
}

.gallay-hover {
  transform: translateY(100%);
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 67px 25px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  z-index: 1;
}

.gallay-text {
  color: var(--added-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
}

.gallay-card {
  padding: 20px 24px;
}

.gallay-img {
  width: 100%;
}

.hover-box {
  position: relative;
  overflow: hidden;
}

.gallay-container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid lightgreen; */
}

.gallay-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-backdrop);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  height: auto;
  border-radius: 4px;
  background: var(--white-color);
  transform: scale(1);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 40px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: scale(0.8);
  opacity: 0;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--modal-close);
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close:hover .cross,
.modal-close:focus .cross {
  fill: var(--button-color);
}

.cross {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: var(--addedtext-color);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 8px;
}

.modal-label {
  color: var(--added-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  padding-right: 30px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border: none;
  outline: 1px solid;
  color: var(--button-color);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--button-color);
}

.modal-icon {
  width: 18px;
  height: 18px;
  fill: var(--addedtext-color);
  position: absolute;
  top: 32px;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-coment {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 20px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-coment:hover {
  outline: 1px solid;
  color: var(--button-color);
}

.modal-check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:hover:checked,
.modal-check:focus:checked {
  border-color: var(--button-color);
}

.modal-check:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.modal-check:checked {
  background-color: var(--button-color);
  position: relative;
}

.modal-text {
  color: var(--added-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-left: 9px;
  margin-right: 4px;
}

.modal-link {
  color: var(--button-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.modal-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 52px;
  padding-left: 52px;
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--button-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-top: 30px;
  cursor: pointer;
}

.modal-box {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */