
    $accent-color: #ececec;
    $text-color: #000;
    $section-color: #2f303a;
    $button-color: #2196f3;
    $section2-color: #f5f4fa;
    $added-color: #757575;
    $addedtext-color: #212121;
    $white-color: #fff;
    $footer-contacts: rgba(255, 255, 255, 0.6);
    $border-color: #eee;
    $bgcolor-hero: rgba(47, 48, 58, 1);
    $card-color: #afb1b8;
    $join-color: rgba(255, 255, 255, 0.1);
    $position-color: rgba(47, 48, 58, 0.8);
    $modal-backdrop: rgba(0, 0, 0, 0.2);
    $modal-close: rgba(0, 0, 0, 0.1);
